<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
    <Document name="csoftsc-persistent-augit.ZPM">
        <Module>
            <Name>csoftsc-persistent-audit</Name>
            <Version>1.0.0</Version>
            <Description>Persistent base classes to keep record history for auditing purposes</Description>
            <Packaging>module</Packaging>
            <SourcesRoot>src</SourcesRoot>
            <Resource Name="csoftsc.PersistentAudit.PKG" />
        </Module>
    </Document>
</Export>
